*.pyc
__pycache__/
FILE*
data/*
prod_data/*
.DS_Store
.idea/*
*/Databases/*
*/logs/*
*.parquet
*.log
*.code-workspace
*/utils/kuzu*
*/data.zip
*/data/*
requirements-*.txt
ch_06_kuzudb_tests.code-workspace




