body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    color: #333;
}

.chart-container h2 {
    padding: 10px;
    margin: 0;
    background-color: #333;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    cursor: move;
    
}

.resizable-chart {
    position: relative;
    margin-bottom: 40px; /* Adds space between charts */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds a subtle shadow for depth */
    background-color: #fff; /* White background for the chart area */
    border-radius: 8px; /* Rounded corners */
    padding: 20px; /* Padding around the chart */
    box-sizing: border-box;
}

.resize-handle {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    bottom: -5px; /* Adjust the position to be outside the container */
    right: -5px; /* Adjust the position to be outside the container */
    z-index: 1; /* Ensure the handle is above the chart */
    cursor: se-resize;
}

canvas {
    display: block; /* Prevents default inline display */
    max-width: 100%;
}

/* Style for the chart titles */
.resizable-chart h2 {
    text-align: center;
    color: #666;
    margin: 0 0 20px; /* Adds space between title and chart */
}

.resizable-chart {
    max-width: 400px !important;
    max-height: 500px !important;
    
    
}
